<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.ameyanaik.cordova"
        version="0.0.1">

  <name>AmeyaNaik - Cordova</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/ameyanaik.js" target="js/ameyanaik.js"/>

  <js-module src="www/ameyanaik.js" name="ameyanaik">
    <clobbers target="ameyanaik" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="AmeyaNaik">
        <param name="android-package" value="com.ameyanaik.cordova.AmeyaNaik"/>
      </feature>
    </config-file>

    <source-file src="src/android/AmeyaNaik.java" target-dir="src/com/ameyanaik/cordova/"/>
  </platform>

  <platform name="ios">
    
    <config-file target="config.xml" parent="/widget">
      <feature name="AmeyaNaik">
        <param name="ios-package" value="HWPAmeyaNaik" />
      </feature>
    </config-file>

    <header-file src="src/ios/HWPAmeyaNaik.h" target-dir="AmeyaNaikPlugin"/>
    <source-file src="src/ios/HWPAmeyaNaik.m" target-dir="AmeyaNaikPlugin"/>
  </platform>

  <platform name="wp7">
    <source-file src="src/wp7/AmeyaNaik.cs"/>
  </platform>

</plugin>